*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* 1. */
/* Home Section */





/* Home Section end */







/* 2. */

/* Services section */





/* Services section end */







/* 3. */

/* Why Should you Chose Section */







/* Why Should you Chose Section End */






/* 4. */

/* Client Sys Section */





/* Client Sys Section end */





/* 5. */

/* Blog Section */




/* Blog Section end */





/* 6. */
/* Three easy Steps section  */



/* Three easy Steps section end */



/* 7. */

/* Footer */


/* Footer end */










/* Responsive for tablets */
@media (max-width: 1200px) {




}








/* Responsve for mobail */
@media (max-width: 700px){




}